:root {
    font-size: calc(0.9em + 0.4vw);
}

body {
    color: var(--bone);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: var(--bone);
    text-decoration: none;
}

a:hover {
    color: #eee;
}
